.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: #434343;
  padding-top: 5px;
  padding-bottom: 5px;
}

.App-input-checkbox[type="checkbox"]{
  width:  16px;
  height: 16px;
}

.App-table {
  width: 70vw;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid;
  margin: 5px;
  
  th {
    padding : 10px;
    background: #356854;
    color: #fff;
    border: 1px solid;
    text-align: center;  
  };
  th:first-child {
    border-left: none;
  };
  th:last-child {
    border-right: none;
  };

  tr {
    text-align: right;
  };
  tr:nth-child(2n+1) {
    background: #f6f8f9;
  };

  td {
    width: 25%;
    border: 1px solid;
    padding: 5px;
  };
}

.App-table-select{
  width: 30vw;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid;
  margin: 5px;
  
  th {
    padding : 10px;
    background: #c9daf8;
    color: black;
    border: 1px solid;
    text-align: center;  
  };
  th:first-child {
    border-left: none;
  };
  th:last-child {
    border-right: none;
  };

  tr {
    text-align: right;
  };
  tr:nth-child(2n+1) {
    background: #f6f8f9;
  };

  td {
    width: 25%;
    border: 1px solid;
    padding: 5px;
  };
}

.App-table-td-rank{
  background-color: #cccccc;
  color: black;
}
.App-table-td-level{
  background-color: #b4a7d6;
  color: black;
}

/* -- テーブル行の背景変更用 -- */
.App-CollectGreen{
  background-color: #b7e1cd;
}
.App-CollectRed{
  background-color: #ea9999;
}
.App-None{
  background-color: #d9d9d9;
}