.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: #434343;
  padding-top: 5px;
  padding-bottom: 5px;
}

.App-input-checkbox[type="checkbox"]{
  width:  16px;
  height: 16px;
}

.App-table {
  width: 70vw;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid;
  margin: 5px;
  
  th {
    padding : 10px;
    background: #356854;
    color: #fff;
    border: 1px solid;
    text-align: center;  
  };
  th:first-child {
    border-left: none;
  };
  th:last-child {
    border-right: none;
  };

  tr {
    text-align: right;
  };
  tr:nth-child(2n+1) {
    background: #f6f8f9;
  };

  td {
    width: 25%;
    border: 1px solid;
    padding: 5px;
  };
}

.App-table-select{
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid;
  margin: 5px;
  
  th {
    padding : 10px;
    background: #c9daf8;
    color: black;
    border: 1px solid;
    text-align: center;  
  };
  th:first-child {
    border-left: none;
  };
  th:last-child {
    border-right: none;
  };

  tr {
    text-align: right;
  };
  tr:nth-child(2n+1) {
    background: #f6f8f9;
  };

  td {
    width: 25%;
    border: 1px solid;
    padding: 5px;
  };
}

.App-table-td-rank{
  background-color: #cccccc;
  color: black;
}
.App-table-td-level{
  background-color: #b4a7d6;
  color: black;
}

.App-button{
    /* 👇デフォルトのスタイルを解除 */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* 👇スタイル */
    display: inline-block;
    width: 100%; /* 幅 */
    max-width: 250px; /* 最大幅 */
    margin: 1em 0; /* 前後の余白 */
    padding: 0.6em 1.5em 0.6em 0.5em; /* 文字周りの余白 */
    cursor: pointer; /* カーソルを指に */
    line-height: 1.4; /* 行高 */
    font-size: 0.95em; /* フォントサイズ */
    font-weight: 700; /* 太字に */
    color: #333; /* 文字色 */
    border-radius: 4px; /* 角丸 */
    background-color: #cfe2f3; /* 背景色 */
    border: solid 1px #cfe2f3; /* 枠線 */
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */  
}

.App-select{
  /* 👇デフォルトのスタイルを解除 */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* 👇スタイル */
  display: inline-block;
  width: 100%; /* 幅 */
  max-width: 250px; /* 最大幅 */
  margin: 1em 0; /* 前後の余白 */
  padding: 0.6em 1.5em 0.6em 0.5em; /* 文字周りの余白 */
  cursor: pointer; /* カーソルを指に */
  line-height: 1.4; /* 行高 */
  font-size: 0.95em; /* フォントサイズ */
  font-weight: 700; /* 太字に */
  color: #333; /* 文字色 */
  border-radius: 4px; /* 角丸 */
  background-color: #f7f9fb; /* 背景色 */
  border: solid 1px #e1e8ef; /* 枠線 */
  box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
  /* 👇三角マークを作る */
  background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
  background-size: 5px 5px, 5px 5px;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}

/* -- テーブル行の背景変更用 -- */
.App-CollectGreen{
  background-color: #b7e1cd;
}
.App-CollectRed{
  background-color: #ea9999;
}
.App-None{
  background-color: #d9d9d9;
}